body{
    background-color: rgb(51, 2, 63);
    color: #fff;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#juego{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 340px;
  z-index: 101;
  background-image: url(/src/fondo.png);
  background-repeat: no-repeat;
  background-size: contain;

}

#tabla{
    height: 340px;
    width: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px;
    z-index: 100;
}

.cuadro{
    background-color: rgba(255, 0, 0, 0);
  }
  .cuadro:active{
    background-color: #ffffff00;
  }
#x{
  background-image: url(/src/x.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 26px 22px;
  animation: aparecer 0.1s ease-in-out;
}

#o{
  background-image: url(/src/o.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 26px 22px;
  animation: aparecer 0.1s ease-in-out;
}

@keyframes aparecer {
  0% {
    scale: 0.1;
  }
  100% {
    scale: 1;
  }
}


.head{
  height: 50px;
  display: flex;
  width: 200px;
  text-align: center;
  font-size: large;
  padding: 1px;
  color: rgb(255, 102, 230);
  justify-content: center;
}

.retry{
  height: 90px;
  width: 90px;
  margin-top: 10px;
}
#btn{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 179);
  border-radius: 50px;
  background-image: url(/src/retry.png);
  background-position: center;
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  animation: aparecer 0.1s ease-in-out;
  display: none;
  
}
#btn:active{
  scale: 0.95;
}

#info{
  animation: aparecer 0.1s ease-in-out;
  transform: translateY(-16px);
}